.a{
	width:500px;
	height:150px;
	background-color:#248;
	font-size:2em;
	font-weight:bold;
	color:white;

	border-style:none;
	/* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
	text-shadow:12px,12px,2px,black;
	 background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));

}
body{
	color: gold;
	background-color:silver;
}
.z{
	color: black
}